# Скопируйте в .env на сервере и заполните.
# Секретный ключ: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=7570461a998e78809f0ce5e2848695c022541b4d1869ed8c352ce26d4271ba08


# 1 — сайт работает по HTTPS (cookie только по защищённому соединению)
HTTPS=1

# 1 — приложение стоит за nginx
BEHIND_PROXY=1

# Путь к базе (по умолчанию database.db в корне проекта)
# DATABASE_URL=sqlite:////home/user/student_testing/database.db
